* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --border: #eecf87;
    --orange: #f2c14e;
    --winning-blocks: #2d414b;
    --bg-color: #37505c;
    --cell-size: 150px;
}

body {
    color: var(--orange);
    font-family: "Finger Paint", cursive;
}

h1 {
    font-size: 54px;
    text-transform: uppercase;
}

.container {
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-color);
    position: relative;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--orange);
    color: #333;
    border-color: var(--orange);
    font-size: 18px;
    transition: 200ms transform;
    font-weight: 600;
}

button:hover {
    cursor: pointer;
    transform: translateY(-2px);
}

.is-hidden {
    display: none;
}
